/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  position: static;
  margin: 100px auto 100px auto;
  width: calc(100vw * (700 / 1440));
  max-width: 700px;
  min-width: 375px;
  color: var(--themes-main-color, #00cc14);
  font-family: var(--main-font, "Inter-Variable");
  font-variation-settings: "wght" var(--card-content-font-weight);
  background: var(--background);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
  -ms-overflow-style: none;
}

/*ШАПКА*/

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 371px;
  gap: 25px;
  margin-bottom: 100px;
  border: 2px solid var(--themes-main-color, #00cc14);
  padding: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem) 0 25px 0;
  font-family: var(--supportable-font, serif);
  background-color: var(--themes-backgroud-color, #000);
}

.header__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: uppercase;
}

.header__title:focus {
  outline: none;
}

.header__description {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding-left: 18px;
}

.theme-menu__button {
  position: relative;
  border: none;
  padding: 1px 0;
  font-size: 14px;
  text-transform: uppercase;
  background-color: transparent;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  scale: 0;
  bottom: -3px;
  left: 0;
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--themes-main-color, #00cc14);
  transition: width 0.5s ease-in-out;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
  scale: 1;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  top: 0;
  left: -20px;
  animation: select 0.5s infinite ease-in-out alternate;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  cursor: default;
  pointer-events: none;
}

/*СТРАНИЦА*/

main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card__title {
  padding: 5px 10px;
  font-size: 18px;
  font-variation-settings: "wght" var(--card-titles-font-weight);
}

.card {
  min-width: 371px;
  border: 2px solid var(--themes-main-color, #00cc14);
  background-color: var(--themes-backgroud-color, #000);
}

.card__cover {
  position: relative;
  border-top: 2px solid var(--themes-main-color, #00cc14);
  border-bottom: 2px solid var(--themes-main-color, #00cc14);
}

.card__cover__image {
  display: block;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.card__cover__watermark {
  position: absolute;
  font-family: var(--supportable-font, serif);
  font-weight: 400;
  font-size: 14px;
  top: 25px;
  right: 25px;
  opacity: 0.8;
  color: var(--themes-main-color, #00cc14);
  text-shadow: 0 0 1px var(--themes-backgroud-color, #000);
}

@supports (
  (
      (text-stroke: 1px var(--themes-backgroud-color, #000)) or
        (-webkit-text-stroke: 1px var(--themes-backgroud-color, #000))
    )
    and (mix-blend-mode: hard-light)
) {
  .card__cover__watermark {
    text-shadow: none;
    text-transform: stroke(1px var(--themes-backgroud-color, #000));
    mix-blend-mode: hard-light;
    -webkit-text-stroke: 1px var(--themes-backgroud-color, #000);
  }
}

.card__content {
  display: flex;
  font-size: 18px;
  font-variation-settings: "wght" var(--card-content-font-weight);
  line-height: 21px;
  flex-direction: column;
  gap: 26px;
  padding: 25px;
  padding-bottom: 22px;
}

.card__buttons {
  display: flex;
  gap: 7px;
  justify-content: end;
  padding-bottom: 3px;
}

/*ФИЛЬТРЫ*/

.image-filter_grayscale {
  filter: grayscale(0.4);
}

.image-filter_brightness {
  filter: brightness(130%);
}

.image-filter_contrast {
  filter: contrast(90%);
}

.image-filter_opacity {
  filter: opacity(0.7);
}

.image-filter_saturate {
  filter: saturate(10%);
}

.image-filter_sepia {
  filter: sepia(40%);
}

.image-filter_blur {
  filter: blur(0.3rem);
}

.image-filter_combinate {
  filter: contrast(200%) blur(0.2rem);
}

/*КНОПКИ*/

.button__container {
  background: var(--themes-backgroud-color, #000);
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--themes-main-color, #00cc14);
  background: var(--themes-backgroud-color, #000);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.footer__button {
  gap: 8px;
  min-height: 55px;
  padding: 15px 20px;
}

.button:focus-visible {
  box-shadow: 2px 2px var(--themes-main-color, #00cc14);
  outline: none;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--themes-main-color, #00cc14);
  transition: width 0.5s ease-in-out;
}

.button:hover::before {
  width: 100%;
}

.button__text {
  font-family: var(--supportable-font, serif);
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  color: var(--themes-button-text-color, #00cc14);
  transition: none;
}

.button__text-style {
  text-transform: uppercase;
}

.button .button__text {
  transition: color 0.5s ease-in-out;
}

.button:hover .button__text {
  color: var(--themes-backgroud-color, #000);
  color: var(--themes-button-text-color, #00cc14);
}

.button svg {
  transition: color 0.5s ease-in-out;
}

.button:hover svg {
  color: var(--themes-backgroud-color, #000);
  color: var(--themes-button-text-color, #00cc14);
}

@supports (mix-blend-mode: difference) {
  .button svg {
    transition: none;
    mix-blend-mode: difference;
  }

  .button__text {
    mix-blend-mode: difference;
  }

  .floppy-icon {
    mix-blend-mode: difference;
    transition: color 0.5s ease-in-out;
    color: var(--themes-button-text-color, #00cc14);
  }
}

.floppy-icon {
  width: auto;
  height: auto;
  color: var(--themes-button-text-color, #00cc14);
}

/*КАРТОЧКИ*/

.card__icon-button {
  position: relative;
  display: flex;
  align-items: end;
  min-height: 38px;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  z-index: 1;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease;
  opacity: 0;
  z-index: -1;
}

.card__icon-button:focus-visible::before {
  outline: 2px solid var(--themes-main-color, #00cc14);
  outline-offset: -2px;
  opacity: 100;
  z-index: 0;
}

.card__like-button {
  min-width: 130px;
  min-height: 38px;
  padding: 9px 17px;
}

/*ДИАЛОГ*/

.dialog {
  width: calc(100vw * (357 / 1440));
  min-width: 341px;
  border: 2px solid var(--themes-main-color, #00cc14);
  padding: 30px;
  background: var(--themes-backgroud-color, #000);
}

.dialog__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: var(--themes-main-color, #00cc14);
}

.dialog_floppy-icon {
  scale: 1;
  min-width: 39px;
  height: 39px;
}

.dialog__warning {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-family: var(--supportable-font, serif);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.dialog__button {
  gap: 10px;
  width: 100%;
  min-height: 38px;
  padding: 9px 17px;
}

.dialog-text {
  min-width: 198px;
  word-break: break-word;
}

dialog::backdrop {
  opacity: 0.75;
  background: var(--themes-background-color, #000);
}

@media (width <= 375px) {
  .page {
    margin: 102px 0 102px 0;
    width: 100%;
  }

  .footer__button {
    flex-direction: column;
  }

  .footer__button svg {
    width: 28px;
    height: 28px;
  }

  .dialog {
    padding: 30px 42px;
  }

  .dialog__container {
    display: flex;
    justify-content: start;
  }

  .floppy-icon {
    width: 28px;
    height: 28px;
  }

  .card__cover__watermark {
    top: 25px;
    right: 11px;
  }

  .dialog_floppy-icon {
    width: 39px;
    height: 39px;
  }
}

/*ПОДВАЛ*/

.main__footer {
  display: flex;
  justify-content: center;
}
